body {
    background: #fff;
}

.text-primary {
    color: #d4213d!important;
}

.btn-primary {
    background-color: #d4213d;
    border-color: #b01c32;
}
.btn-primary:hover {
    background-color: #b01c32;
}
.btn-primary:active {
    background-color: #b01c32;
}

.list-group-item.active {
    background: #d4213d;
    border-color: #d4213d;
}
